* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card {
  transition: transform 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1 .h2 .h3 .h4 .h5 .h6 {
  font-weight: 600;
  color: black;
}

/* navbar */
.navbar-nav .nav-link {
  font-weight: 500;
  color: black;
}

/* BTN */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: blue;
  color: white;
}

.btn-brand:hover {
  background-color: rgb(110, 136, 252);
  color: white;
}

/* HERO */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(28, 125, 252, 0.438)),
    url(../images/hero-1.jpg);
  background-position: center;
  background-size: cover;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 50px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: blue;
  margin: 16px auto 40px auto;
}

.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* ICON BOX */
.iconbox {
  height: 60px;
  width: 60px;
  font-size: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 227, 227);
  flex: none;
}

/* COUNTER */
#counter {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(28, 125, 252, 0.8)),
    url(../images/counter.jpg);
  background-position: center;
  background-size: cover;
}

/*FOOTER */
.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
